{% extends "LandingPage/base.html" %} {% block content %}

<div class="h-1/4 w-full flex justify-center items-center">
  <div class="h-32 w-32 rounded rounded-full bg-white"></div>
</div>

<div class="h-1/4 w-full flex items-center mt-4 flex-col">
  <div class="text-center text-white text-4xl">ORG NAME</div>
  <div class="relative w-1/4 h-1/4 mt-4">
    <input
      type="text"
      class="h-full text-black w-full placeholder:text-black placeholder:ml-4 pl-4"
      placeholder="Search...."
    />
    <button class="absolute inset-y-0 right-0 px-3 text-white bg-[#274E7E]">
      Go
    </button>
  </div>

  <h1 class="italic text-white">Project numbers only</h1>
</div>

<div class="flex h-1/2 w-full items-end">
  <div class="flex w-1/4 flex-col ml-16 mb-8 bg-gray-50 bg-opacity-50">
    <h1 class="ml-4 h-auto text-6xl leading-tight" id="date">DATE</h1>
    <h1 class="ml-4 h-auto text-5xl leading-tight" id="time">Time</h1>
  </div>
</div>

<script>
  function updateTime() {
    var now = new Date()
    var hours = now.getHours()
    var minutes = now.getMinutes()
    var seconds = now.getSeconds()
    if (hours < 10) hours = "0" + hours
    if (minutes < 10) minutes = "0" + minutes
    if (seconds < 10) seconds = "0" + seconds
    document.getElementById("time").innerHTML =
      hours + ":" + minutes + ":" + seconds
    document.getElementById("date").innerHTML =
      (now.getMonth() + 1).toString().padStart(2, "0") +
      "/" +
      now.getDate().toString().padStart(2, "0") +
      "/" +
      now.getFullYear().toString().substr(-2)
  }
  setInterval(updateTime, 1000)
</script>

{% endblock content %}
