<!DOCTYPE html>
<html>
    <head>
        <title>DMD: BALANCE CHECKER</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <!--Parent Div-->
        <div class="h-screen w-full">
            <!--Children Div-->
            <div class="h-screen w-full">

                <!--Header-->
                <div class="h-[6%] w-full flex bg-[#274e7e]">

                    <!--Menu Div-->
                    <div class="h-full w-1/3 flex justify-start items-center">
                        <div class="h-full w-[9%] bg-[#6b7785]"></div>
                        <h1 class="text-xl text-slate-50 font-sans ml-4">MENU</h1>
                    </div>

                    <!--Circle Div-->
                    <div class="h-full w-1/3 flex justify-center items-center  ">
                        <div class="h-[83%] w-[7.5%] rounded rounded-full bg-[#d9d9d9]"></div>
                    </div>

                    <!--Home/Contact/Logout Div-->
                    <div class="h-full w-1/3 flex justify-end items-center">
                        <div class="h-full w-3/4 flex justify-center items-center space-x-8">
                            <h1 class="text-2xl text-slate-50">Home</h1>
                            <h1 class="text-2xl text-slate-50">Contact</h1>
                            <h1 class="text-2xl text-slate-50">Log out</h1>
                        </div>
                    </div>

                </div>


                <!--DMD: BALANCE CHECKER (Content)-->
                <div class="h-[94%] w-full flex flex-col items-center">

                    <!--DMD: BALANCE CHECKER (Title)-->
                    <div class="h-[7%] w-full flex justify-between">

                        <!--TITLE-->
                        <div class="h-full w-[61%] flex justify-end items-center">
                            <h1 class="text-3xl ">DMD: BALANCE CHECKER</h1>
                        </div>

                        <!--Person Info-->
                        <div class="h-full w-[20%] flex flex-col bg-[#dfdfdf]">
                            <h1 class="text-base ml-3 font-semibold text-gray-700"><i>FULL NAME</i></h1>
                            <h1 class="text-base ml-3 font-semibold text-gray-700"><i>DIVISION ASSIGNED</i></h1>
                        </div>

                    </div>


                    <!--Content Div-->
                    <div class="h-[93%] w-[98%] flex flex-col">
                        <!--Container for Left and Right Divs-->
                        <div class="h-[85%] w-full flex">
                            <!--Left Div Section-->
                            <div class="h-full w-[65%] flex flex-col items-center">
                            <!--Search office div-->
                            <div class="h-[18%] w-full flex">

                                <!--Search office div inputs-->
                                <div class="h-full w-[75%]">
                                    <div class="h-1/3 w-full flex justify-start items-centers">
                                        <h1 class="text-lg font-semibold">SEARCH OFFICE: </h1>
                                    </div>

                                    <div class="h-1/3 w-full bg-[#3b71b4]">
                                        <input class="h-full w-full indent-2 bg-[#3b71b4]" type="text">
                                    </div>

                                    <div class="h-1/3 w-full flex justify-center items-center">
                                        <h1 class="text-lg">OFFICE OF... </h1>
                                    </div>
                                </div>

                                <!--Refresh & Search Button Div-->
                                <div class="h-full w-[25%] flex flex-col items-end space-y-3 font-semibold">
                                    <div class="h-[30%] w-[40%] flex justify-center items-center mt-1 bg-[#94b9e8]">
                                        <h1>Refresh</h1>
                                    </div>

                                    <div class="h-[45%] w-[90%] flex justify-center items-center bg-[#94b9e8]">
                                        <h1>SEARCH ITEMS</h1>
                                    </div>
                                </div>

                            </div>

                            <!--Blue Div Section-->
                            <div class="h-[40%] w-full">
                                <!--Titles Div-->
                                <div class="h-[23%] w-full flex bg-[#87aad4]">

                                    <div class="h-full w-[8%] flex items-center justify-center text-center">
                                        <h1>APPID <br>No</h1>
                                    </div>

                                    <div class="h-full w-[10%] flex items-center justify-center text-center">
                                        <h1>Office <br>Code</h1>
                                    </div>

                                    <div class="h-full w-[15%] flex items-center justify-center text-center">
                                        <h1>Office</h1>
                                    </div>

                                    <div class="h-full w-[20%] flex items-center justify-center text-center">
                                        <h1>Program</h1>
                                    </div>

                                    <div class="h-full w-[15%] flex items-center justify-center text-center">
                                        <h1>Account <br>Code</h1>
                                    </div>

                                    <div class="h-full w-[40%] flex items-center justify-center text-center">
                                        <h1>Item Name</h1>
                                    </div>

                                </div>



                                <div class="h-[77%] w-full flex bg-[#94b9e8]">

                                    <div class="h-full w-[8%] flex items-start justify-center">
                                        <input class="h-[15%] w-[80%] mt-4" type="text">
                                    </div>

                                    <div class="h-full w-[10%] flex items-start justify-center">
                                        <input class="h-[15%] w-[90%] mt-4" type="text">
                                    </div>

                                    <div class="h-full w-[15%] flex items-start justify-center">
                                        <input class="h-[15%] w-[90%] mt-4" type="text">
                                    </div>

                                    <div class="h-full w-[20%] flex items-start justify-center">
                                        <input class="h-[15%] w-[90%] mt-4" type="text">
                                    </div>

                                    <div class="h-full w-[15%] flex items-start justify-center">
                                        <input class="h-[15%] w-[90%] mt-4" type="text">
                                    </div>

                                    <div class="h-full w-[40%] flex items-start justify-center">
                                        <input class="h-[15%] w-[95%] mt-4" type="text">
                                    </div>

                                </div>

                            </div>

                            <!--Lower Blue Div Section-->
                            <div class="h-[40%] w-full flex justify-between border-2 mt-3">

                                <!--Left Blue Div-->
                                <div class="h-full w-[49%] flex flex-col justify-center items-center">

                                    <!--Title Div-->
                                    <div class="h-[10%] w-full flex justify-center items-center bg-[#87aad4]">
                                        <h1 class="text-sm font-semibold ">USAGE FROM PROJECTS</h1>
                                    </div>

                                    <!--Sub Titles Div-->
                                    <div class="h-[23%] w-full flex text-sm bg-[#87aad4]">

                                        <div class="h-full w-1/4 flex items-center justify-center text-center">
                                            <h1>Tracking <br>Number</h1>
                                        </div>
    
                                        <div class="h-full w-1/4 flex items-center justify-center text-center">
                                            <h1>Total <br>Cost</h1>
                                        </div>
    
                                        <div class="h-full w-1/4 flex items-center justify-center text-center">
                                            <h1>Username</h1>
                                        </div>
    
                                        <div class="h-full w-1/4 flex items-center justify-center text-center">
                                            <h1>Date Created</h1>
                                        </div>
    
                                    </div>
    
    
                                    <!--Div of div input-->
                                    <div class="h-[77%] w-full flex bg-[#94b9e8]">
    
                                        <div class="h-full w-1/4 flex items-start justify-center">
                                            <input class="h-[15%] w-[80%] mt-4" type="text">
                                        </div>
    
                                        <div class="h-full w-1/4 flex items-start justify-center">
                                            <input class="h-[15%] w-[90%] mt-4" type="text">
                                        </div>
    
                                        <div class="h-full w-1/4 flex items-start justify-center">
                                            <input class="h-[15%] w-[90%] mt-4" type="text">
                                        </div>
    
                                        <div class="h-full w-1/4 flex items-start justify-center">
                                            <input class="h-[15%] w-[90%] mt-4" type="text">
                                        </div>
    
                                    </div>
                                </div>
    

                                <!--Right Blue Div-->
                                <div class="h-full w-[49%] flex flex-col justify-center items-center">

                                    <!--Title Div-->
                                    <div class="h-[10%] w-full flex justify-center items-center bg-[#87aad4]">
                                        <h1 class="text-sm font-semibold ">USAGE FROM AMENDATORY</h1>
                                    </div>

                                    <!--Sub Titles Div-->
                                    <div class="h-[23%] w-full flex text-sm bg-[#87aad4]">

                                        <div class="h-full w-1/4 flex items-center justify-center text-center">
                                            <h1>Amendatory</h1>
                                        </div>
    
                                        <div class="h-full w-1/4 flex items-center justify-center text-center">
                                            <h1>Ammended <br>Amount</h1>
                                        </div>
    
                                        <div class="h-full w-1/4 flex items-center justify-center text-center">
                                            <h1>Username</h1>
                                        </div>
    
                                        <div class="h-full w-1/4 flex items-center justify-center text-center">
                                            <h1>Date Modified</h1>
                                        </div>
    
                                    </div>
    
    
                                    <!--Div of div input-->
                                    <div class="h-[77%] w-full flex bg-[#94b9e8]">
    
                                        <div class="h-full w-1/4 flex items-start justify-center">
                                            <input class="h-[15%] w-[80%] mt-4" type="text">
                                        </div>
    
                                        <div class="h-full w-1/4 flex items-start justify-center">
                                            <input class="h-[15%] w-[90%] mt-4" type="text">
                                        </div>
    
                                        <div class="h-full w-1/4 flex items-start justify-center">
                                            <input class="h-[15%] w-[90%] mt-4" type="text">
                                        </div>
    
                                        <div class="h-full w-1/4 flex items-start justify-center">
                                            <input class="h-[15%] w-[90%] mt-4" type="text">
                                        </div>
    
                                    </div>
                                </div>
                            </div>

                            </div>

                            <!--Right Div Section-->
                            <div class="h-full w-[35%] flex justify-center items-center">
                            <div class="h-full w-[93%] flex flex-col items-center font-semibold bg-[#94b9e8]">

                                <!--First Div-->
                                <div class="h-[5%] w-[95%] flex mt-2">
                                    <div class="h-full w-1/2">
                                        <h1>PROGRAM:</h1>
                                    </div>

                                    <div class="h-full w-1/2 flex items-center justify-end">
                                        <h1 class="h-full w-[40%] text-base">APP ID NO.</h1>
                                        <input class="h-[90%] w-[50%] border border-gray-700 mt-0.5" type="text">
                                    </div>
                                </div>

                                <!--Second Div-->
                                <div class="h-[8%] w-[95%] flex border border-black mt-1">
                                    <input class="w-full h-full" type="text">
                                </div>

                                <!--3rd Div-->
                                <div class="h-[5%] w-[95%] flex items-center justify-between mt-0.5">
                                    <h1 class="h-full w-[40%] text-base flex justify-center items-center ">ACCOUNT NAME/CODE:</h1>
                                    <input class="h-[90%] w-[50%] border border-gray-700 mt-0.5" type="text">
                                </div>

                                <!--4th Div-->
                                <div class="h-[8%] w-[95%] flex border border-black mt-1">
                                    <input class="w-full h-full" type="text">
                                </div>

                                <!--5th Div-->
                                <div class="h-[5%] w-[95%] flex items-center justify-between mt-0.5">
                                    <h1 class="h-full w-full text-base">ITEM DESCRIPTION:</h1>
                                </div>

                                <!--6th Div-->
                                <div class="h-[12%] w-[95%] flex border border-black mt-1">
                                    <input class="w-full h-full" type="text">
                                </div>

                                <!--DivS by 3s-->
                                <div class="h-[4%] w-[95%] flex items-center justify-between text-sm mt-0.5">
                                    <h1 class="h-full w-[40%] ">TOTAL BUDGET (ORIGIN)</h1>
                                    <input class="h-[90%] w-[50%] border border-gray-700" type="text">
                                </div>

                                <div class="h-[4%] w-[95%] flex items-center justify-between text-sm mt-0.5">
                                    <h1 class="h-full w-[40%] ">AMMENDED AMOUNT</h1>
                                    <input class="h-[90%] w-[50%] border border-gray-700" type="text">
                                </div>

                                <div class="h-[4%] w-[95%] flex items-center justify-between text-sm mt-0.5">
                                    <h1 class="h-full w-[40%] ">CURRENT AMOUNT (-AMMENDED)</h1>
                                    <input class="h-[90%] w-[50%] border border-gray-700" type="text">
                                </div>

                                <br>
                                <br>

                                <!--Divs by 2s-->
                                <div class="h-[4%] w-[95%] flex items-center justify-between text-sm mt-0.5">
                                    <h1 class="h-full w-[40%] ">ALLOCATED AMOUNT</h1>
                                    <input class="h-[90%] w-[50%] border border-gray-700" type="text">
                                </div>

                                <div class="h-[4%] w-[95%] flex items-center justify-between text-sm mt-0.5">
                                    <h1 class="h-full w-[40%] ">RUNNING BALANCE (PROJECT)</h1>
                                    <input class="h-[90%] w-[50%] border border-gray-700" type="text">
                                </div>

                                <br>
                                <br>

                                <!--Divs by 2s-->
                                <div class="h-[4%] w-[95%] flex items-center justify-between text-sm mt-0.5">
                                    <h1 class="h-full w-[40%] ">AWARDED AMOUNT</h1>
                                    <input class="h-[90%] w-[50%] border border-gray-700" type="text">
                                </div>

                                <div class="h-[4%] w-[95%] flex items-center justify-between text-sm mt-0.5">
                                    <h1 class="h-full w-[40%] ">RUNNING BALANCE (PO)</h1>
                                    <input class="h-[90%] w-[50%] border border-gray-700" type="text">
                                </div>
                            </div>

                            </div>
                        </div>
                        <!--Footer Div-->
                        <div class="h-[15%] w-full flex">

                            <div class="h-full w-1/3 flex flex-col items-end ">
                                <div class="h-[30%] w-[95%] flex space-x-16 mt-1 ">
                                    <h1 class="text-sm">TOTAL</h1>
                                    <input class="border border-black" type="text">
                                </div>

                                <div class="h-[18%] w-[85%] flex space-x-16 mt-2 ">
                                    <h1 class="text-xs">Calculated Running Balance</h1>
                                    <input class="border border-black" type="text">
                                </div>

                            </div>

                            <div class="h-full w-1/3 flex flex-col items-end ">
                                <div class="h-[30%] w-[95%] flex space-x-16 mt-1 ">
                                    <h1 class="text-sm">TOTAL</h1>
                                    <input class="border border-black" type="text">
                                </div>

                                <div class="h-[18%] w-[85%] flex space-x-16 mt-2 ">
                                    <h1 class="text-xs">Calculated Running Balance</h1>
                                    <input class="border border-black" type="text">
                                </div>

                            </div>

                            <!--Save Record Button-->
                            <div class="h-full w-1/3 flex justify-end items-center">
                                <button class="h-[25%] w-[30%] text-sm bg-[#94b9e8] mr-4 mt-6">Save Record</button>
                            </div>

                        </div>
                    </div>

                    

                </div>
                

            </div>
        </div>

    </body>
</html>