{% extends "DatabaseManagementDivision/base/base.html" %}

<!-- Public Bidding -->
{% block content %}

<div class="h-full w-full flex items-center justify-center">
  <div class="h-[95%] w-[85%] bg-[#274E7E] space-y-2 overflow-y-auto">
    <div class="h-[5vh] w-full flex justify-end items-center">
      <h1 class="font-thin text-white mr-2">Search Tracking Number</h1>
      <input type="text" class="h-full mr-2" name="" id="" />
    </div>

    <div class="h-[5vh] w-full flex justify-start items-center">
      <h1 class="font-thin text-white mr-2 w-64">Tracking Number</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />
    </div>
    <div class="h-[5vh] w-full flex justify-start items-center">
      <h1 class="font-thin text-white mr-2 w-64">Project Number</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />
    </div>
    <div class="h-[5vh] w-full flex justify-start items-center">
      <h1 class="font-thin text-white mr-2 w-64">Current Project Number</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />
    </div>
    <div class="h-[5vh] w-full flex justify-start items-center">
      <h1 class="font-thin text-white mr-2 w-64">ABC</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />
    </div>
    <div class="h-[5vh] w-full flex justify-start items-center">
      <h1 class="font-thin text-white mr-2 w-64">End User</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />
    </div>
    <div class="h-[5vh] w-full flex justify-start items-center">
      <h1 class="font-thin text-white mr-2 w-64">Project Title</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />
    </div>
    <div class="h-[5vh] w-full flex justify-start items-center">
      <h1 class="font-thin text-white mr-2 w-64">Mode</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />

      <h1 class="text-white w-32 text-center">Type</h1>

      <input type="text" class="h-full mr-2" name="" id="" />
    </div>
    <div class="h-[5vh] w-full flex justify-start items-center">
      <h1 class="font-thin text-white mr-2 w-64">Delivery Date</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />
    </div>
    <div class="h-[5vh] w-full flex justify-start items-center">
      <h1 class="font-thin text-white mr-2 w-64">Resolution Number</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />
    </div>
    <div class="h-[5vh] w-full flex justify-start items-center">
      <h1 class="font-thin text-white mr-2 w-64">Account Officer</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />
    </div>
    <div class="h-[5vh] w-full flex justify-start items-center">
      <h1 class="font-thin text-white mr-2 w-64">Bidding Date</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />
    </div>
    <div class="h-[5vh] w-full flex justify-start items-center">
      <h1 class="font-thin text-white mr-2 w-64">Opening RFQ Date</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />
    </div>
    <div class="h-[5vh] w-full flex justify-start items-center">
      <h1 class="font-thin text-white mr-2 w-64">Status</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />
    </div>

    <div class="h-[5vh] w-full flex justify-end items-center">
      <button class="bg-[#498EE3] p-1 text-white rounded px-4 mr-2">
        Refresh
      </button>
      <button class="bg-[#498EE3] p-1 text-white rounded px-4 mr-2">
        Proceed
      </button>
    </div>

    <div class="h-[5vh] w-full flex justify-start items-center">
      <h1 class="font-thin text-white mr-2 w-64">PO Number</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />

      <h1 class="font-thin text-white mr-2 w-64 text-center">PO Amount</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />
    </div>

    <div class="h-[5vh] w-full flex justify-start items-center">
      <h1 class="font-thin text-white mr-2 w-64">Bidder Name</h1>
      <input type="text" class="h-full flex-grow mr-2" name="" id="" />
    </div>
  </div>
</div>

{% endblock content %}
