{% extends "TechnicalServicesDivision/base/base.html" %} {% block content %}

<div class="flex h-full w-full items-center justify-center">
  <div class="flex-col space-y-2 w-1/2 bg-[#274E7E] p-4 rounded-md text-white">
    <div class="flex w-full">
      <h1 class="text-2xl text-nowrap mx-3">PROJECT TITLE</h1>
      <input type="text" name="project_title" id="" class="w-full mx-3" />
    </div>
    <div class="flex w-full">
      <h1 class="text-2xl text-nowrap mx-3">OFFICE</h1>
      <input type="text" name="office" id="" class="w-full mx-3" />
    </div>
    <div class="flex w-full">
      <h1 class="text-2xl text-nowrap mx-3">ABC</h1>
      <input type="text" name="abc" id="" class="w-full mx-3" />
    </div>
    <div class="flex w-full">
      <h1 class="text-2xl text-nowrap mx-3">CATEGORY</h1>
      <input type="text" name="category" id="" class="w-full mx-3" />
    </div>
    <div class="flex w-full">
      <h1 class="text-2xl text-nowrap mx-3">AONAME</h1>
      <input type="text" name="aoname" id="" class="w-full mx-3" />
    </div>
    <div class="flex w-full">
      <h1 class="text-2xl text-nowrap mx-3">FUNDYEAR</h1>
      <input type="text" name="fundyear" id="" class="w-full mx-3" />
    </div>
    <div class="flex w-full">
      <h1 class="text-2xl text-nowrap mx-3">FUND SOURCE</h1>
      <input type="text" name="fund_source" id="" class="w-full mx-3" />
    </div>
    <div class="flex w-full">
      <h1 class="text-2xl text-nowrap mx-3">OBJECT OF EXPENDITURE</h1>
      <input
        type="text"
        name="object_of_expenditure"
        id=""
        class="w-full mx-3"
      />
    </div>
    <div class="flex w-full">
      <h1 class="text-2xl text-nowrap mx-3">VALIDATOR</h1>
      <input type="text" name="validator" id="" class="w-full mx-3" />
    </div>
    <div class="flex w-full">
      <h1 class="text-2xl text-nowrap mx-3">CANVASSER</h1>
      <input type="text" name="canvasser" id="" class="w-full mx-3" />
    </div>
    <div class="flex w-full justify-center space-x-4 text-black">
      <a href="" class="bg-white p-1 px-2"> SAVE</a>
      <a href="" class="bg-white p-1 px-2"> CANCEL</a>
    </div>
  </div>
</div>
{% endblock content %}
