{% extends "TechnicalServicesDivision/base/base.html" %}

<!-- TSD SEecretariat -->

{% block content %}
<div class="flex w-full h-[70vh] border border-black">
  <div class="w-1/4 h-full bg-black"></div>
  <div class="w-1/4 h-full bg-red-600"></div>
  <div class="w-1/4 h-full bg-yellow-600"></div>
  <div class="w-1/4 h-full bg-orange-600"></div>
</div>

<table class="w-full h-[30vh] bg-white">
  <thead>
    <tr class="bg-[#D6DCE5] h-28">
      <th>STATUS</th>
      <th>MOOE / BIDBULETTIN NO.</th>
      <th>PRE-PROC / POSTING</th>
      <th>PRE-BID / BID DATE</th>
      <th>BID EVAL / POST QUA</th>
      <th>RESO NUMBER / DATE</th>
      <th>PO NUMBER - PO AMOUNT / BIDDER NAME</th>
      <th>PO DATE / NOA DATE</th>
      <th>CONTRACT START / CONTRACT END</th>
      <th>OBR NUMBER / TRANSMITTAL NO.</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="text-center break-words max-w-xs">
        Project Title Project TitleProject TitleProject TitleProject
        TitleProject Title
      </td>
      <td class="text-center break-words max-w-xs">Project Title</td>
      <td class="text-center break-words max-w-xs">Project Title</td>
      <td class="text-center break-words max-w-xs">Project Title</td>
    </tr>
  </tbody>
</table>

{% endblock content %}
